<div class="container">
	<div class="home_hospital_picture">

		<div class="home_comment_2">
			<label> 추천 동물병원 </label>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_1.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_3.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_3' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_2.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_2.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_2' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_3.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_6.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_6' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_4.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_4.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_4' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail"> 
				<%= image_tag "home_5.JPG" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_5.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_5' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_6.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_1.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_1' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_7.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_8.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_8' %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_8.jpg" %>
				<div class="home_hospital_info">
					<div class="home_hospital_info_name">
						<%= @hospital_7.h_name %>
					</div>
					<%= render 'static_pages/best_hospital_grade_7' %>
				</div>
			</div>
		</div>

		<div class="FATDOG">
			<label> FATDOG Company <br>
				서울시 광진구 능동로 209 <br>
				02-3408-3114 <br>
				ALL RIGHT RESERVED. @FATDOG
			</label>
		</div>
		
	</div>
</div>