<div class="container">
	<div class="home_hospital_picture">

		<div class="home_comment_2">
			<label> 추천 동물병원 </label>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco1.png" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco2.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco3.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco4.png" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail"> 
				<%= image_tag "coco5.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco6.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco7.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "coco8.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="FATDOG">
			<label> FATDOG Company <br>
				서울시 광진구 능동로 209 <br>
				02-3408-3114 <br>
				ALL RIGHT RESERVED. @FATDOG
			</label>
		</div>
		
	</div>
</div>