<div class="container">
	<div class="home_hospital_picture">

		<div class="home_comment_2">
			<label> 추천 동물병원 </label>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_1.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_2.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_3.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_4.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail"> 
				<%= image_tag "home_5.JPG" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_6.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_7.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="thumbnail">
				<%= image_tag "home_8.jpg" %>
				<div class="home_hospital_info"></div>
			</div>
		</div>

		<div class="FATDOG">
			<label> FATDOG Company <br>
				서울시 광진구 능동로 209 <br>
				02-3408-3114 <br>
				ALL RIGHT RESERVED. @FATDOG
			</label>
		</div>
		
	</div>
</div>