<html>
	<body>
		<div class="home_comment_1">
    		<%= link_to "내 주변 병원 찾기", hospitals_path, 'data-no-turbolink' => true %>
		</div>

		<input type="text" onclick="sample5_execDaumPostcode()" id="sample5_address",
		placeholder="   주소를 입력하세요">
		<%= image_tag "search_icon.png", class: "search_icon" %>

		<div class="thumbnail" id="main_img_crop">
    		<%= image_tag "main_img_crop.png", class: "main_img" %>
		</div>	

		<div>
			<label>좌표 : </label>
			<label id="latlng"></label>
		</div>

		<div class="home_hospital_picture">
			<div class="col-xs-3">
        		<%= image_tag "coco1.png" , :width => "250px", :height => "250px" %>
        	</div>
        	<div class="col-xs-3">
          		<%= image_tag "coco2.jpg" , :width => "250px", :height => "250px" %>
        	</div>
        	<div class="col-xs-3">
          		<%= image_tag "coco3.jpg" , :width => "250px", :height => "250px" %>
        	</div>
        	<div class="col-xs-3">
          		<%= image_tag "coco4.png" , :width => "250px", :height => "250px" %>
        	</div>
        	<div class="col-xs-3">   
          		<%= image_tag "coco5.jpg" , :width => "250px", :height => "250px" %>
          	</div>
          	<div class="col-xs-3">
          		<%= image_tag "coco6.jpg" , :width => "250px", :height => "250px" %>
          	</div>
          	<div class="col-xs-3">
          		<%= image_tag "coco7.jpg" , :width => "250px", :height => "250px" %>
          	</div>
          	<div class="col-xs-3">
          		<%= image_tag "coco8.jpg" , :width => "250px", :height => "250px" %>
        	</div>
       	</div>

       	<div id="map"> </div>
	</body>

	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script src="//apis.daum.net/maps/maps3.js?apikey=f8ab409992af7eadee3762524f2b1f44&libraries=services"></script>

	<script>
		// 지도를 표시할 div
    	var mapContainer = document.getElementById('map'),
    	mapOption = {
    		// 지도의 중심좌표
      	  center: new daum.maps.LatLng(37.5020821, 127.0278538),
      	  // 지도의 확대 레벨
      	  level: 5
   		};

   		//지도를 미리 생성
    	var map = new daum.maps.Map(mapContainer, mapOption);

    	//주소-좌표 변환 객체를 생성
    	var geocoder = new daum.maps.services.Geocoder();

    	//마커를 미리 생성
    	var marker = new daum.maps.Marker({
    		position: new daum.maps.LatLng(37.5020821, 127.0278538),
    		map: map
    	});

    	function sample5_execDaumPostcode() {
    		new daum.Postcode({
    			oncomplete: function(data) {
                	// 최종 주소 변수
               	 	var fullAddr = data.address;
                	// 조합형 주소 변수
                	var extraAddr = '';

               		// 기본 주소가 도로명 타입일때 조합함
                	if(data.addressType === 'R'){
                    	//법정동명이 있을 경우 추가
                    	if(data.bname !== ''){
                    		extraAddr += data.bname;
                    	}
                    	// 건물명이 있을 경우 추가
                    	if(data.buildingName !== ''){
                    		extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    	}
                    	// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만듦
                    	fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                	}

                	// 주소로 좌표를 검색
                	geocoder.addr2coord(data.address, function(status, result) {
                    	// 정상적으로 검색이 완료됐으면
                    	if (status === daum.maps.services.Status.OK) {

                        	// 해당 주소에 대한 좌표를 받아서
                        	var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                    	}

                    	$("#latlng").html((result.addr[0].lat).toString().substring(0, 10) + ", " + (result.addr[0].lng).toString().substring(0, 10));
                	});
            	}
        	}).open();
		}
	</script>
</html>