<%= form_for([@hospital, @hospital.meetings.build]) do |f| %>

  <div class="field", id="reservation_name">
    <%= f.button "예약자명" , class: 'reservation_name'%>
    <% if logged_in? %>
    <%= f.text_field :name ,class: 'reservation_input_name', :value => current_user.name %>
    <% else %>
    <%= f.text_field :name ,class: 'reservation_input_name' %>  
    <% end %>

    <%= f.button "연락처" , class: 'reservation_name'%>
    <%= f.text_field :phone ,class: 'reservation_input_phone' ,placeholder:"010-1234-5678"%>
  </div>
  <div class="field">
    <%= f.button "시작일" ,class: 'reservation_name'%>
    <%= f.datetime_select :start_time ,class: 'reservation_input_date'%>
  </div>
  <div class="field", id="reservation_name">
    <%= f.button "요구사항" , class: 'reservation_name'%>
    <%= f.text_field :requirement ,class: 'reservation_input_requirement',placeholder:"간단히 써주세요"%>
  </div>
  <div class="actions">
    <%= f.submit "예약", class: 'reservation_submit'%>
  </div>
<% end %>
