<div class = "col-xs-9">
	<%= render 'hospitals/hospital_map' %>
</div>

<div class = "col-xs-3">
    <% @hospitals.each do |h| %>
        <a href = "/hospitals/<%= h.id %>" id = "h_index">
            <div id = "h_body">
                <div id = "h_name">
                    <%= h.h_name %>
                </div>

                <div id = "h_address">
                    <%= h.h_address %>
                </div>

                <div id = "h_phone">
                    <%= h.h_phone %>
                </div>
            </div>
            <br>
        </a>
    <% end %>
</div>
