<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
    <body>
        <div class = "col-xs-9" id = "map_margin_top">
            <%= render "hospitals/hospital_map" %>
        </div>

        <div class = "col-xs-3 map_page_right" id = "map_margin_top">
            <% @hospitals.each do |h| %>
                <div id = "<%= h.h_name %>">
                    <a href = "/hospitals/<%= h.id %>" id = "h_index">
                        <div class = "h_body" id = "<%= h.h_name %>">
                            <div id = "h_name">
                                <%= h.h_name %>
                            </div>

                            <div id = "h_address">
                                <%= h.h_address %>
                            </div>

                            <div>
                              <div id="hospital_avg_grade">
                                  <% if h.avg_grade == 5 %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>            
                                    </div>
                                  <% elsif h.avg_grade >= 4 && h.avg_grade < 5 %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>          
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>            
                                    </div>
                                  <% elsif h.avg_grade >= 3 && h.avg_grade < 4 %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>
                                    </div>
                                  <% elsif h.avg_grade >= 2 && h.avg_grade < 3 %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>          
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>            
                                    </div>
                                  <% elsif h.avg_grade >= 1 && h.avg_grade < 2 %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_activated.png" , :width => "18px", :height => "16px" %>          
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>            
                                    </div>
                                  <% else %>
                                    <div id="hospital_grade_info">
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <%= image_tag "map_grade_dimmed.png" , :width => "18px", :height => "16px" %>
                                      <span id="h_grade_font">
                                        <%= h.avg_grade.round(1) %>점 | <%= h.reviews.count%>명
                                      </span>            
                                    </div>
                                  <% end %> 
                                </div>
                            </div>
                    </a>
                </div>
            <% end %>
        </div>
    </body> 
</html>