<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
    <body>
        <div class = "col-xs-9" id = "map_margin_top">
            <%= render "hospitals/hospital_map" %>
        </div>

        <div class = "col-xs-3 map_page_right" id = "map_margin_top">
            <% @hospitals.each do |h| %>
                <div id = "<%= h.h_name %>">
                    <a href = "/hospitals/<%= h.id %>" id = "h_index">
                        <div class = "h_body" id = "<%= h.h_name %>">
                            <div id = "h_name">
                                <%= h.h_name %>
                            </div>

                            <div id = "h_address">
                                <%= h.h_address %>
                            </div>

                            <div id = "h_phone">
                                <%= h.h_phone %>
                            </div>
                        </div>
                        <br>
                    </a>
                </div>
            <% end %>
        </div>
    </body> 
</html>