<html>
<head>
	<title></title>
</head>
<body>
	<div class="row", id="hospital_info">
	  <div class="col-md-4", id="hospital_album">
		<%= image_tag "hospital1.JPG" , :width => "280px", :height => "280px" %>
	  </div>
	  <div class="col-md-8", id="hospital_detail">
		<div id="hospital_detail_name"><%=@hospital.h_name %></div><br>
		<div id="hospital_detail_address">병원주소 : <%=@hospital.h_address %></div>
		<div id="hospital_detail_phone">병원번호 : <%=@hospital.h_phone %></div><br>
		
	  </div>
	</div>

	<div id="hospital_option">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#calendar" data-toggle="tab" aria-expanded="false">예약하기</a>
			</li>
			<li class="review"><a href="#review" data-toggle="tab">후기게시판</a></li>
	  	</ul>
	  	<div id="hr_calendar"><hr></div>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="calendar">

				<div>
					<%= month_calendar events: @meetings do |date, meetings| %>
					  <%= date.strftime("%d") %><br>	  
						<% if meetings.count < 5 %>
						  	<p style="color:#aaa">예약가능</p>
						  		<% elsif meetings.count >= 5 && meetings.count < 10 %>
						  			<p style="color:#feb650">예약포화</p>
						  			<% elsif meetings.count >= 10 %>
						  			<p style="color:#fd915f">예약불가</p>
						<% end %>

					<% end %>
				</div>

				<div id="reservation">
					<div id="reservation_message">
						<div id="message_title">예약하기</div><br>
						<div id="message_detail">상단의 달력에서 예약 현황을 확인하신 후<br>
						아래의 양식을 채워주세요.</div>
					</div><br>
					<%= render 'meetings/form' %>
				</div>
			</div>

  			<div class="tab-pane fade" id="review">
  				후기게시판
  			</div>

		</div>
	</div>


</body>
</html>