<table>
  <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.r_title %></td>
        <td><%= review.r_content %></td>
        <td><%= link_to 'Show', 
        hospital_review_path(:hospital_id => params[:id], :id => review.id) %></td>
        
        <td><%= link_to 'Edit', 
        edit_hospital_review_path(:hospital_id => params[:id], :id => review.id) %></td>
        
        <td><%= link_to 'Destroy', 
        hospital_review_path(:hospital_id => params[:id], :id => review.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
<%= link_to 'New Review', new_hospital_review_path(:hospital_id => params[:id]) %>
<% end %>