<%= form_for([@hospital, @hospital.reviews.build]) do |f| %>

  <div class="row">
      <div class="col-md-4", id="hospital_review_user">
        <%= current_user.name %>
        <div id="review_new_grade">
          <%= f.select :grade, [1,2,3,4,5]%>
        </div>
      </div>
      <div class="col-md-8", id="hospital_review_input_content">
        <div id="review_new_content">
          <%= f.text_area :r_content%>
        </div>
      </div>
  </div>

  <div class="actions", id="hospital_review_submit">
    <%= f.submit "등록", class: 'reservation_submit'%>
  </div>
<% end %>

