<%= form_for([@hospital, @hospital.reviews.build]) do |f| %>

  <div id="review_new_title">
    <%= f.label :"제목" %><br>
    <%= f.text_field :r_title %>
  </div>
  <div id="review_new_content">
    <%= f.label :"내용" %><br>
    <%= f.text_area :r_content %>
  </div>
  <div id="review_new_grade">
    <%= f.label :"별점주기"%><br>
    <%= f.select :grade, [1,2,3,4,5]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
